@media all and (max-width:640px) {
    
  body{
      margin: 10px 0;
  }

  h1{
      font-size: 2.5em;
  }

  #l_lunch{
      padding: 10px 0 15px 0;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(248, 231, 232);
}
/* 제목 설정 */
h1 {
  text-align: center;
  font-size: 3rem;
  transform: translateY(150%);
}
button{
  font-family: 'Nanum Pen Script', cursive;
}

.contentWrap {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.menuBox {
  width: 100px;
  height: 500px;
}
/* 메뉴 리스트 박스 크기 */
.menuBtn {
  width: 100px;
  height: 100px;
  margin: 10px;
}
/* 메뉴 리스트 버튼 디자인 */
.menuBtnSet {
  width: 100%;
  height: 100%;
  font-size: 50px;
  border-style: outset;
  transition: all 0.1s;
  border-radius: 50%;
}
.menuBtnSet:active{
  transform: translateY(3px);
}

/* 메뉴 보여주는 박스 */
.imgBox {
  border: 1px solid black;
  width: 350px;
  height: 250px;
  color: black;
}
#resultText{
  text-align: center;
  margin-top: 50px;
  font-size: 6rem;
  font-family: 'Nanum Pen Script', cursive;
}
/* 시작 누르는 박스 */
.handleBox {
  border: 1px solid black;
  width: 100px;
  height: 300px;
}
.startImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 다시 시작 하는 박스 */
.resetBox {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  transform: translateY(-100%);
}
/* 재시작 버튼 모양 */
#resetBtn {
  width: 100%;
  height: 100%;
  font-size: 50px;
  transition: all 0.1s;
  border-radius: 50%;
}
#resetBtn:active{
  transform: translateY(3px);
}